pkgbase = supertuxkart
	pkgdesc = Kart racing game featuring Tux and his friends
	pkgver = 1.2
	pkgrel = 1
	url = https://supertuxkart.net
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = subversion
	makedepends = mesa
	makedepends = imagemagick
	makedepends = setconf
	makedepends = mesa-libgl
	makedepends = ninja
	depends = openal
	depends = libvorbis
	depends = fribidi
	depends = curl
	depends = bluez-libs
	depends = libxrandr
	depends = glu
	depends = wayland
	depends = libxkbcommon-x11
	depends = sqlite
	depends = libjpeg-turbo
	depends = libraqm
	depends = hicolor-icon-theme
	depends = sdl2
	source = https://github.com/supertuxkart/stk-code/releases/download/1.2/SuperTuxKart-1.2-src.tar.xz
	sha512sums = bc7079af9b3d85b3e4839ebb3eee293fb8bfe95450165172caa28b8ad1a9e97c59618d77c2208a86090f1840aa9a4b4b6898c1053fa6f5d7dfbfe17b69536835

pkgname = supertuxkart

