pkgbase = dkms-mali-bifrost-next
	pkgdesc = Mali kernel driver for bifrost hardware in DKMS format.
	pkgver = 25.0
	pkgrel = 1
	url = http://ppa.linuxfactory.or.kr
	arch = aarch64
	license = GPL
	depends = linux>=5.8
	depends = linux-headers>=5.8
	depends = dkms
	provides = dkms-mali-bifrost
	options = !strip
	source = https://github.com/yuyuyak/mali-bifrost-r25p0-01eac0/archive/38578e60ed89c445abab9eb9779124e77115d192.zip
	source = mali_kbase.conf
	source = 99-mali.rules
	source = dkms.conf
	md5sums = b8fa9fdda053d2d5ece2cb62807b9b82
	md5sums = 5d925319c2135f5b0ceb0b047ee3e0b9
	md5sums = 8d1e7076afe329c9dd631c653f8c98ba
	md5sums = b6e8f93a4c3004a6a15ae271a7464eff

pkgname = dkms-mali-bifrost-next
