pkgbase = odroid-gl4es
	pkgdesc = OpenGL 2.1/1.5 to GL ES 2.0/1.1 translation library. (Odroid Build)
	pkgver = 1.1.4.69f0392
	pkgrel = 2
	url = https://github.com/ptitSeb/gl4es
	arch = aarch64
	license = MIT
	makedepends = git
	depends = xorg-xrefresh
	depends = nano
	depends = grep
	optdepends = odroid-n2-libgl-fb: hardware acceleration
	optdepends = odroid-c4-libgl-fb: hardware acceleration
	source = git://github.com/ptitSeb/gl4es.git#commit=69f03920acbc3b60eaa247f91372f4c8b3d59707
	source = gl4es.conf
	source = gl4es.sh
	source = odroid-gl4es.sh
	md5sums = SKIP
	md5sums = 50b819dc12b12c37c8ee66355720144e
	md5sums = 75253b65dc4623fc5e4c880af202991f
	md5sums = ec02968133d1055e369ff75f4c25439e

pkgname = odroid-gl4es
