pkgbase = kodi-addon-inputstream-rtmp
	pkgdesc = RTMP input stream add-on for Kodi
	pkgver = 19.0.1
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.rtmp
	arch = x86_64
	arch = aarch64
	groups = kodi-addons
	groups = kodi-addons-inputstream
	license = GPL2
	makedepends = cmake
	makedepends = rtmpdump
	makedepends = p8-platform
	makedepends = kodi-dev
	source = kodi-addon-inputstream-rtmp-19.0.1.tar.gz::https://github.com/xbmc/inputstream.rtmp/archive/19.0.1-Matrix.tar.gz
	sha512sums = 084bfbb2e4ea63a6fad0d526f80aa55e47244630c07bd960764e50b44aab4a766169e93ae308e53cbe66b134a732edb21ef7979b2484c7a922d86ade1326a346

pkgname = kodi-addon-inputstream-rtmp
	depends = kodi
	depends = rtmpdump
	depends = p8-platform
