pkgbase = kodi
	pkgver = 19.3
	pkgrel = 2
	url = https://kodi.tv
	arch = x86_64
	arch = aarch64
	license = GPL2
	makedepends = afpfs-ng
	makedepends = bluez-libs
	makedepends = cmake
	makedepends = curl
	makedepends = dav1d
	makedepends = doxygen
	makedepends = git
	makedepends = glew
	makedepends = gperf
	makedepends = hicolor-icon-theme
	makedepends = java-runtime
	makedepends = libaacs
	makedepends = libass
	makedepends = libbluray
	makedepends = libcdio
	makedepends = libcec
	makedepends = libgl
	makedepends = mariadb-libs
	makedepends = libmicrohttpd
	makedepends = libmodplug
	makedepends = libmpeg2
	makedepends = libnfs
	makedepends = libplist
	makedepends = libpulse
	makedepends = libva
	makedepends = libva-vdpau-driver
	makedepends = libxrandr
	makedepends = libxslt
	makedepends = lirc
	makedepends = lzo
	makedepends = mesa
	makedepends = nasm
	makedepends = python-pycryptodomex
	makedepends = python-pillow
	makedepends = python-pybluez
	makedepends = python-simplejson
	makedepends = shairplay
	makedepends = smbclient
	makedepends = taglib
	makedepends = tinyxml
	makedepends = swig
	makedepends = upower
	makedepends = giflib
	makedepends = rapidjson
	makedepends = ghostscript
	makedepends = meson
	makedepends = gtest
	makedepends = graphviz
	makedepends = wayland-protocols
	makedepends = waylandpp
	makedepends = libxkbcommon
	makedepends = libinput
	noextract = kodi-libdvdcss-1.4.2-Leia-Beta-5.tar.gz
	noextract = kodi-libdvdnav-6.0.0-Leia-Alpha-3.tar.gz
	noextract = kodi-libdvdread-6.0.0-Leia-Alpha-3.tar.gz
	noextract = kodi-ffmpeg-4.3.2-Matrix-19.2.tar.gz
	noextract = kodi-fmt-6.1.2.tar.gz
	noextract = kodi-spdlog-1.5.0.tar.gz
	noextract = kodi-crossguid-8f399e8bd4.tar.gz
	noextract = kodi-fstrcmp-0.7.D001.tar.gz
	noextract = kodi-flatbuffers-1.12.0.tar.gz
	noextract = kodi-libudfread-1.1.0.tar.gz
	source = kodi-19.3-3-Matrix.tar.gz::https://github.com/xbmc/xbmc/archive/19.3-Matrix.tar.gz
	source = kodi-libdvdcss-1.4.2-Leia-Beta-5.tar.gz::https://github.com/xbmc/libdvdcss/archive/1.4.2-Leia-Beta-5.tar.gz
	source = kodi-libdvdnav-6.0.0-Leia-Alpha-3.tar.gz::https://github.com/xbmc/libdvdnav/archive/6.0.0-Leia-Alpha-3.tar.gz
	source = kodi-libdvdread-6.0.0-Leia-Alpha-3.tar.gz::https://github.com/xbmc/libdvdread/archive/6.0.0-Leia-Alpha-3.tar.gz
	source = kodi-ffmpeg-4.3.2-Matrix-19.2.tar.gz::https://github.com/xbmc/FFmpeg/archive/4.3.2-Matrix-19.2.tar.gz
	source = kodi-fmt-6.1.2.tar.gz::http://mirrors.kodi.tv/build-deps/sources/fmt-6.1.2.tar.gz
	source = kodi-spdlog-1.5.0.tar.gz::http://mirrors.kodi.tv/build-deps/sources/spdlog-1.5.0.tar.gz
	source = kodi-crossguid-8f399e8bd4.tar.gz::http://mirrors.kodi.tv/build-deps/sources/crossguid-8f399e8bd4.tar.gz
	source = kodi-fstrcmp-0.7.D001.tar.gz::http://mirrors.kodi.tv/build-deps/sources/fstrcmp-0.7.D001.tar.gz
	source = kodi-flatbuffers-1.12.0.tar.gz::http://mirrors.kodi.tv/build-deps/sources/flatbuffers-1.12.0.tar.gz
	source = kodi-libudfread-1.1.0.tar.gz::http://mirrors.kodi.tv/build-deps/sources/libudfread-1.1.0.tar.gz
	source = cheat-sse-build.patch
	sha512sums = ccb8f26ff8a9ca0cec50e069ff9c658de89a868093a8da25d6a55317d68656de6fd7107c5348c545b4f3cdd541293cfd58f8d171877bfa7533d39e072df68c04
	sha512sums = 5185dbdbeb1bd13ea9d8723f1f4ab599d6f3102f5ba1096cd085aa1cda252c045f327c719227bba8e1b742352ade5e335106c8d0c1637a5a6b93ce661620dd7e
	sha512sums = 11c93eaacd156f8fd7dec7c43d366438b201f31ad55b2870463a9e286912b6ada08882319a021fb7992190f87b909a49f2b83e0321cc17aedc29f7fe5898fa72
	sha512sums = b3419ba0a1a2dd70f1bb6236afdfe1c6e88c9ad4264198b289e3bba9375e077cecf7f89848c7b09debaa445327f3507101f3d157e692f7a7163b2bb52643e1e7
	sha512sums = 09f937e5a5615c4576e16299775d3b3019e1ef463e9f56a05e629d4ee1963d73863c153138d36b14d5757b87c99f8a7f376b633044ef3940e9bfbcc1b129f325
	sha512sums = 8770bf4bd2bb6d938e75e0cf1e665c41930dbd9d2a6825274a5a43cd1d85b9c9ca621bb040ed099429f0e16bddbc3399361c453eb1bf3fc01376e6ad9dd875b7
	sha512sums = 78991c943dd95af563c4b29545b9b5d635caf1af5031262dde734ecf70c0b4ae866d954ee77b050f9f0cc089a3bc57ee9583895e51cb00dd1cc6c10ff905ca34
	sha512sums = 2682d63609d3dcdfcd8136be632e45df26ad88ce93b9c49745cf728bbd2e6254a7b05c8b059ab581d532372e504206a525a52564b64d076dfdae9c965a09fd16
	sha512sums = aaeb0227afd5ada5955cbe6a565254ff88d2028d677d199c00e03b7cb5de1f2c69b18e6e8b032e452350a8eda7081807b01765adbeb8476eaf803d9de6e5509c
	sha512sums = 8a0b88d739fa4694a69d3630140fe89fdd70d50bba4dadd1758d9aa2920cda16700bcafb8d89fe2a09ac907d3f378240c3cb4abc7106318136799836aba4b063
	sha512sums = 340a03fe90d26a8a5c78e1e4f558a0b448a14332a661494f44af7de3e6c98cd219125e19f69d2a611ecb4870648a5d5b55d794e665eb8ec4192c0b499a0701ed
	sha512sums = 91409cc66959a30f2d0dbf8d28e47dd2acbac560efb8961550c5928ae8546a32d1f156f8e55f073f953b114230117ec96c224212d28c1c1d752540c836c9ae1a

pkgname = kodi
	pkgdesc = A software media player and entertainment hub for digital media
	depends = bluez-libs
	depends = curl
	depends = dav1d
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = mariadb-libs
	depends = mesa
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = upower: Display battery level
	provides = kodi-common
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	replaces = kodi-common
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm

pkgname = kodi-eventclients
	pkgdesc = Kodi Event Clients
	optdepends = kodi: local machine eventclient use
	optdepends = python: most eventclients are implemented in python

pkgname = kodi-tools-texturepacker
	pkgdesc = Kodi Texturepacker tool
	depends = libpng
	depends = giflib
	depends = libjpeg-turbo
	depends = lzo

pkgname = kodi-dev
	pkgdesc = Kodi dev files
	depends = kodi
