pkgbase = astromenace
	pkgdesc = Hardcore 3D space shooter with spaceship upgrade possibilities
	pkgver = 1.4.2
	pkgrel = 1
	url = http://www.viewizard.com/astromenace/index_linux.php
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = mesa
	depends = sdl2
	depends = freealut
	depends = libjpeg
	depends = libvorbis
	depends = glu
	depends = freetype2
	depends = libxinerama
	source = astromenace-1.4.2.tar.gz::https://github.com/viewizard/astromenace/archive/v1.4.2.tar.gz
	sha512sums = 6a41c987295ff7201b2a9fa748b2b246c5d61bf4ae39668e614fbec377abfe08387a66182059c0e87d1c8395aa224ae396535b0f41a0be720fc57d319249e8b0

pkgname = astromenace
