pkgbase = odroid-n2-libgl
	pkgver = 1.0
	pkgrel = 6
	url = https://github.com/hardkernel/buildroot_linux_amlogic_meson_mali
	arch = aarch64
	license = Proprietary
	makedepends = gcc
	conflicts = mali-utgard-meson-libgl-fb
	conflicts = mali-utgard-meson-libgl-x11
	conflicts = odroid-c2-libgl-fb
	conflicts = odroid-c2-libgl-x11
	conflicts = odroid-c4-libgl-fb
	conflicts = odroid-c4-libgl-wl
	options = !strip
	source = license
	source = gbm_compat.c
	source = https://github.com/hardkernel/buildroot_linux_amlogic_meson_mali/archive/5963003d4d86d9820a606f7301b3b76ac718b8fb.zip
	source = http://ppa.linuxfactory.or.kr/pool/main/libg/libgbm-compat/libgbm1_0.1.0+202004101002~focal_arm64.deb
	source = odroid-mali-wl.sh
	source = odroid-mali-fb.sh
	source = mali-wl.pc
	source = mali-fb.pc
	md5sums = 3da6d34563163f132815d9b8c5387a76
	md5sums = ce97bdcfcb275e613a0c6c917af13e34
	md5sums = 270395c3de1c7b531ab20bf104a3a285
	md5sums = 50346762ed55a9c38de263d5a981d513
	md5sums = 73048d756b07d9b6350e7ee3f7d3b83a
	md5sums = 7278c961ccacede3e61b2f65a9215fc0
	md5sums = 6dc44eed56cc166907601dc3bf04df00
	md5sums = bf61b83f0980c497f7b6b70727e1d805

pkgname = odroid-n2-libgl-wl
	pkgdesc = ODROID-N2 Mali driver (Wayland)
	install = odroid-n2-libgl-wl.install

pkgname = odroid-n2-libgl-fb
	pkgdesc = ODROID-N2 Mali driver (framebuffer)
	install = odroid-n2-libgl-fb.install
	depends = mesa
	depends = xf86-video-fbdev

pkgname = odroid-n2-libgl-headers
	pkgdesc = ODROID-N2 Mali driver headers
