pkgbase = wcm
	pkgdesc = Wayfire Configuration Manager
	pkgver = 0.7.0.r6.g33772f0
	pkgrel = 1
	url = https://wayfire.org
	arch = x86_64
	arch = aarch64
	license = custom:MIT
	makedepends = wayland-protocols
	makedepends = meson
	makedepends = ninja
	makedepends = git
	makedepends = extra-cmake-modules
	depends = gtkmm3
	depends = wayfire
	depends = wf-shell
	optdepends = wayfire-plugins-extra: configuration for extra Wayfire plugins
	provides = wdisplays
	conflicts = wdisplays
	source = wcm::git+https://github.com/WayfireWM/wcm#commit=33772f07eec298b65b41fbb0d412c7d06c403e33
	md5sums = SKIP

pkgname = wcm
