pkgbase = mesa-arm
	pkgdesc = An open-source implementation of the OpenGL specification
	pkgver = 21.1.0_devel.134821.c7725ad4aa2
	pkgrel = 1
	url = https://www.mesa3d.org/
	arch = aarch64
	license = custom
	makedepends = python-mako
	makedepends = libxml2
	makedepends = libx11
	makedepends = libdrm
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = libxdamage
	makedepends = libvdpau
	makedepends = libva
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = elfutils
	makedepends = libomxil-bellagio
	makedepends = clang
	makedepends = libglvnd
	makedepends = lm_sensors
	makedepends = libxrandr
	makedepends = meson
	depends = libdrm
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libomxil-bellagio
	depends = libunwind
	depends = libglvnd
	depends = llvm
	depends = lm_sensors
	depends = libclc
	depends = glslang
	depends = vulkan-icd-loader
	depends = wayland
	depends = zstd
	provides = vulkan-mesa-layers
	provides = opencl-mesa
	provides = vulkan-swrast
	provides = libva-mesa-driver
	provides = mesa-vdpau
	provides = mesa
	provides = mesa-dri
	provides = mesa-libgl
	provides = opengl-driver
	conflicts = vulkan-mesa-layers
	conflicts = opencl-mesa
	conflicts = vulkan-swrast
	conflicts = libva-mesa-driver
	conflicts = mesa-vdpau
	conflicts = mesa
	conflicts = mesa-dri
	conflicts = mesa-libgl
	replaces = mesa-dri
	replaces = mesa-libgl
	source = mesa::git+https://gitlab.freedesktop.org/mesa/mesa.git#commit=c7725ad4aa2
	source = LICENSE
	md5sums = SKIP
	md5sums = 1eff81373cde4b3d7b0ea7590431c962

pkgname = mesa-arm

