pkgbase = uboot-odroid-n2plus-mainline
	pkgdesc = Mainline U-Boot for ODROID-N2/N2+
	pkgver = 2022.01.bc18582a
	pkgrel = 1
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-odroid-n2plus-mainline.install
	arch = aarch64
	license = GPL
	makedepends = bc
	makedepends = dtc
	makedepends = binfmt-qemu-static-all-arch
	makedepends = qemu-user-static-bin
	depends = coreutils
	depends = uboot-tools
	depends = util-linux
	depends = gawk
	depends = sed
	conflicts = uboot-odroid-n2
	conflicts = uboot-odroid-n2plus
	source = https://source.denx.de/u-boot/u-boot/-/archive/bc18582a1471384e3c4584dfd17f48a91c88445d/u-boot-bc18582a1471384e3c4584dfd17f48a91c88445d.tar.gz
	source = https://github.com/akatrevorjay/edid-generator/archive/31a6f80784d289d2faa8c4ca4788409c83b3ea14.tar.gz
	source = https://github.com/hardkernel/u-boot/raw/odroidg12-v2015.01/fip/g12b/aml_encrypt_g12b
	source = edid.md
	source = sd_fusing.sh
	source = mkscr.sh
	source = 91-uboot-uimg.hook
	source = 92-uboot-bootscr.hook
	source = 92-uboot-bootini.hook
	source = boot.mainline.txt
	source = boot.hardkernel.txt
	source = boot.mainline.ini
	source = boot.hardkernel.ini
	source = odroid-bootscr
	source = odroid-bootini
	md5sums = 98c5379024d95838688d58a0db9b995c
	md5sums = 4be5fae86f996be8540a4344a8b8c120
	md5sums = 2c524ff9435316e1e3f137b9dd0d1802
	md5sums = ae53c5bea429b893f9724527e47cd6ca
	md5sums = 3cf3e2e3b856b4c2d46bec622142bd07
	md5sums = 67ff5e5f68d86d216f4ed6de2db0f497
	md5sums = 1931c8dfde7088530f173ca59fdb8989
	md5sums = 8c35293129fe04b8f08521923f9c31db
	md5sums = e1a78b20ea7fe68ed3bb6fe24ff54110
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = uboot-odroid-n2plus-mainline
