pkgbase = mpv-sdl
	pkgdesc = a free, open source, and cross-platform media player
	pkgver = 0.32.0
	pkgrel = 4
	epoch = 1
	url = https://mpv.io/
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = mesa
	makedepends = python-docutils
	makedepends = ladspa
	makedepends = wayland-protocols
	makedepends = ffnvcodec-headers
	makedepends = vulkan-headers
	makedepends = waf
	depends = desktop-file-utils
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = libjack.so
	depends = lcms2
	depends = libarchive
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdvdnav
	depends = libgl
	depends = libva
	depends = libxinerama
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxv
	depends = lua52
	depends = librubberband.so
	depends = smbclient
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = xdg-utils
	depends = shaderc
	depends = mujs
	depends = libplacebo
	depends = libplacebo.so
	depends = sdl2
	optdepends = youtube-dl: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = mpv
	options = !emptydirs
	source = mpv-0.32.0.tar.gz::https://github.com/mpv-player/mpv/archive/v0.32.0.tar.gz
	sha256sums = 9163f64832226d22e24bbc4874ebd6ac02372cd717bef15c28a0aa858c5fe592

pkgname = mpv-sdl
