pkgbase = sauerbraten
	pkgdesc = FPS that uses an improved version of the Cube engine
	pkgver = 2020_12_21
	pkgrel = 1
	url = http://www.sauerbraten.org/
	arch = x86_64
	license = ZLIB
	makedepends = sdl2_mixer
	makedepends = sdl2_image
	makedepends = mesa-libgl
	makedepends = glu
	backup = etc/conf.d/sauerbraten
	source = https://downloads.sourceforge.net/sauerbraten/sauerbraten_2020_12_21_linux.tar.bz2
	source = sauerbraten-client
	source = sauerbraten-server
	source = sauerbraten.confd
	source = sauerbraten.png
	source = sauerbraten.service
	source = sauerbraten.sysusers
	source = sauerbraten.desktop
	source = license.txt
	md5sums = 2db1b69a6f504759a9771e78c03a635e
	md5sums = cb84f0baa72ad88b939a9e5fd0916559
	md5sums = 4a42c314d01ccdc4c76fad38d18c7434
	md5sums = c28be8761ede9ca82b6ab311aa7f6d42
	md5sums = 3e602f421f7342cf8c3ed16314523d6f
	md5sums = 3c964cdd0906461c0404641b1eb52d96
	md5sums = d34cc6df5b58e4d5e67d758bfeca0839
	md5sums = 05c1f5f33c744097c4c70f1e23738847
	md5sums = cf46cd0148f03b7477f7c54aec865abe

pkgname = sauerbraten
	pkgdesc = FPS that uses an improved version of the Cube engine
	depends = sdl2_mixer
	depends = sdl2_image
	depends = libgl
	depends = sauerbraten-data

pkgname = sauerbraten-data
	pkgdesc = Improved version of the Cube engine - datas files

