pkgbase = uboot-odroid-n2plus
	pkgdesc = U-Boot for ODROID-N2/N2+
	pkgver = 2015.01.158
	pkgrel = 1
	url = https://github.com/hardkernel/u-boot
	install = uboot-odroid-n2plus.install
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = bc
	depends = uboot-tools
	conflicts = uboot-odroid-n2
	source = https://github.com/hardkernel/u-boot/releases/download/travis/odroidn2-158/u-boot-odroidn2-158.tar.gz
	source = sd_fusing.sh
	source = 91-uboot-uimg.hook
	source = 92-uboot-bootini.hook
	source = boot.mainline.ini
	source = boot.hardkernel.ini
	source = odroid-bootini
	md5sums = 251b9becaeb5a4ea365c650ce0a265c7
	md5sums = 3bd43e59c5f88a7544505288627fe2dd
	md5sums = 1931c8dfde7088530f173ca59fdb8989
	md5sums = e1a78b20ea7fe68ed3bb6fe24ff54110
	md5sums = b3259ab6be29365ce23014ab244e4ce4
	md5sums = bb254cd5e389396939ce48164857e4e3
	md5sums = 214ab94f84e1715d8814f1f8239a8b42

pkgname = uboot-odroid-n2plus

