pkgbase = uboot-odroid-n2plus
	pkgdesc = U-Boot for ODROID-N2/N2+
	pkgver = 2015.01.141
	pkgrel = 4
	url = https://github.com/hardkernel/u-boot
	install = uboot-odroid-n2plus.install
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = bc
	depends = uboot-tools
	conflicts = uboot-odroid-n2
	source = https://github.com/hardkernel/u-boot/releases/download/travis/odroidn2-141/u-boot-odroidn2-141.tar.gz
	source = 0001-sd_fusing-tweaks.patch
	source = 91-uboot-uimg.hook
	source = 92-uboot-bootini.hook
	source = boot.mainline.ini
	source = boot.hardkernel.ini
	source = odroid-bootini
	md5sums = 05468f84b817ea12375a9fffd1bfd311
	md5sums = cc18cda0bc75936e602341efd5a2fe93
	md5sums = 1931c8dfde7088530f173ca59fdb8989
	md5sums = e1a78b20ea7fe68ed3bb6fe24ff54110
	md5sums = b3259ab6be29365ce23014ab244e4ce4
	md5sums = 3ff3f9158cab265a8457ca5a079bfe26
	md5sums = 214ab94f84e1715d8814f1f8239a8b42

pkgname = uboot-odroid-n2plus
