pkgbase = dkms-mali-bifrost
	pkgdesc = Mali kernel driver for bifrost hardware in DKMS format.
	pkgver = 24.0
	pkgrel = 1
	url = http://ppa.linuxfactory.or.kr
	arch = aarch64
	license = GPL
	depends = linux>=5.6
	depends = linux<5.8
	depends = linux-headers>=5.6
	depends = linux-headers<5.8
	depends = dkms
	options = !strip
	source = http://ppa.linuxfactory.or.kr/pool/contrib/m/mali-bifrost/mali-bifrost-dkms_24.0+202005011205~focal_arm64.deb
	source = mali_kbase.conf
	source = 99-mali.rules
	source = dkms.conf
	md5sums = 9660bfc2ee9017e857dcf1bca2524548
	md5sums = 5d925319c2135f5b0ceb0b047ee3e0b9
	md5sums = 8d1e7076afe329c9dd631c653f8c98ba
	md5sums = b6e8f93a4c3004a6a15ae271a7464eff

pkgname = dkms-mali-bifrost
