pkgbase = archlinuxdroid-repo
	pkgdesc = Repository with additional packages not in alarm.
	pkgver = 1.1
	pkgrel = 1
	url = http://archlinuxdroid.tk/
	install = INSTALL
	arch = aarch64
	license = MIT
	depends = pacman
	depends = grep
	depends = sed
	source = archdroid-mirrorlist
	md5sums = c20c875b76ee99e759ee2143e0d14b90

pkgname = archlinuxdroid-repo

