pkgbase = archlinuxdroid-repo
	pkgdesc = Repository with additional packages not in alarm.
	pkgver = 1.2
	pkgrel = 1
	url = http://archlinuxdroid.tk/
	install = INSTALL
	arch = aarch64
	license = MIT
	depends = pacman
	depends = grep
	depends = sed
	source = archdroid-mirrorlist
	md5sums = 6c2bd4d90e0717a0767eb9d80f97ac3f

pkgname = archlinuxdroid-repo
