pkgbase = uboot-odroid-c4
	pkgdesc = U-Boot for ODROID-C4/HC4
	pkgver = 2015.01.189
	pkgrel = 2
	url = https://github.com/hardkernel/u-boot
	install = uboot-odroid-c4.install
	arch = aarch64
	license = GPL
	depends = uboot-tools
	depends = util-linux
	depends = gawk
	depends = sed
	conflicts = uboot-odroid-n2
	source = https://github.com/hardkernel/u-boot/releases/download/travis/odroidc4-189/u-boot-odroidc4-189.tar.gz
	source = https://github.com/akatrevorjay/edid-generator/archive/31a6f80784d289d2faa8c4ca4788409c83b3ea14.tar.gz
	source = edid.md
	source = sd_fusing.sh
	source = 91-uboot-uimg.hook
	source = 92-uboot-bootini.hook
	source = boot.mainline.ini
	source = boot.hardkernel.ini
	source = odroid-bootini
	md5sums = f4e88cfd709ca73203de00c0b28f8f82
	md5sums = 4be5fae86f996be8540a4344a8b8c120
	md5sums = 01aedffd498933b92c2573f779d6562b
	md5sums = 3bd43e59c5f88a7544505288627fe2dd
	md5sums = 1931c8dfde7088530f173ca59fdb8989
	md5sums = e1a78b20ea7fe68ed3bb6fe24ff54110
	md5sums = 13dab7ee40db044042ea2a0a509fcfc6
	md5sums = 69bc737d512e5afa63cb5546db6c4039
	md5sums = 4587820d7d14c4d00333a17a4acf93fa

pkgname = uboot-odroid-c4
