pkgbase = uboot-odroid-c4
	pkgdesc = U-Boot for ODROID-C4/HC4
	pkgver = 2015.01.158
	pkgrel = 3
	url = https://github.com/hardkernel/u-boot
	install = uboot-odroid-c4.install
	arch = aarch64
	license = GPL
	depends = uboot-tools
	depends = util-linux
	depends = gawk
	depends = sed
	conflicts = uboot-odroid-n2
	source = https://github.com/hardkernel/u-boot/releases/download/travis/odroidn2-158/u-boot-odroidc4-158.tar.gz
	source = sd_fusing.sh
	source = 91-uboot-uimg.hook
	source = 92-uboot-bootini.hook
	source = boot.mainline.ini
	source = boot.hardkernel.ini
	source = odroid-bootini
	md5sums = 10eeb8d73ab78b3d2334408d56c6efab
	md5sums = 3bd43e59c5f88a7544505288627fe2dd
	md5sums = 1931c8dfde7088530f173ca59fdb8989
	md5sums = e1a78b20ea7fe68ed3bb6fe24ff54110
	md5sums = 22b7a204878962eb2bdc9b509ca5d871
	md5sums = 0c436689f5a6c85a2f569322d182a928
	md5sums = a454262534c21d5b263bca6ec0141ae5

pkgname = uboot-odroid-c4

