pkgbase = wlroots-mali-git
	pkgdesc = Modular Wayland compositor library (with libMali fix)
	pkgver = 0.11.0.r57.g99f3c643
	pkgrel = 1
	url = https://github.com/swaywm/wlroots
	arch = x86_64
	arch = aarch64
	license = custom:MIT
	makedepends = meson
	makedepends = ninja
	makedepends = git
	makedepends = wayland-protocols
	makedepends = xorgproto
	depends = libcap
	depends = systemd
	depends = wayland
	depends = opengl-driver
	depends = libxcb
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = pixman
	depends = libinput
	depends = libxkbcommon
	provides = wlroots=0.11.0
	provides = wlroots-git
	conflicts = wlroots
	source = wlroots-git::git+https://github.com/swaywm/wlroots
	sha512sums = SKIP

pkgname = wlroots-mali-git

