pkgbase = retux
	pkgdesc = Action platformer loosely inspired by the Mario games, utilizing the art assets from the SuperTux project.
	pkgver = 1.6.1
	pkgrel = 2
	url = https://retux-game.github.io/
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = python-pip
	makedepends = python-wheel
	depends = python-pygame
	depends = sdl
	depends = sdl_image
	depends = sdl_mixer
	source = https://github.com/retux-game/retux/archive/be240b2a4d48158ed6d310acaeacfc1ec003f4d6.tar.gz
	source = retux.desktop
	source = retux.sh
	md5sums = 8d0ad92b687519a7e7807816ffa556a5
	md5sums = 4ea890841ed39987403ca2180813c4bb
	md5sums = ccbf95e58139b2192e4a6b87ce8e2de2

pkgname = retux
