pkgbase = kodi-addon-inputstream-adaptive
	pkgdesc = InputStream client for adaptive streams for Kodi 18+
	pkgver = 19.0.1
	pkgrel = 1
	url = https://github.com/peak3d/inputstream.adaptive
	arch = x86_64
	arch = aarch64
	groups = kodi-addons
	groups = kodi-addons-inputstream
	license = GPL2
	makedepends = cmake
	makedepends = kodi-dev
	makedepends = gtest
	source = kodi-addon-inputstream-adaptive-19.0.1.tar.gz::https://github.com/peak3d/inputstream.adaptive/archive/19.0.1-Matrix.tar.gz
	sha512sums = 69aaab21dc1f5c383a23f3faa237dea40241ae177b35410537a5af55d9833883e02ce23a7b9a263485ba20230a8900f1151fe4e52eee5f2496d9485bbfc62ca3

pkgname = kodi-addon-inputstream-adaptive
	depends = kodi
	depends = kodi-platform
