pkgbase = kodi-addon-inputstream-adaptive
	pkgdesc = InputStream client for adaptive streams for Kodi 18+
	pkgver = 19.0.5
	pkgrel = 1
	url = https://github.com/peak3d/inputstream.adaptive
	arch = x86_64
	arch = aarch64
	groups = kodi-addons
	groups = kodi-addons-inputstream
	license = GPL2
	makedepends = cmake
	makedepends = kodi-dev
	makedepends = gtest
	options = !lto
	options = debug
	source = kodi-addon-inputstream-adaptive-19.0.5.tar.gz::https://github.com/peak3d/inputstream.adaptive/archive/19.0.5-Matrix.tar.gz
	sha512sums = d84709bf3193d5628199aa5be3f6154e4414269f1b7795e40318db9c4fec653f018dfe6222cbb197fc2bbeb55279a4d0eeb87b154a2e233aab3893c25068a687

pkgname = kodi-addon-inputstream-adaptive
	depends = kodi
	depends = kodi-platform
