pkgbase = kodi-addon-inputstream-adaptive
	pkgdesc = InputStream client for adaptive streams for Kodi 18+
	pkgver = 2.6.7
	pkgrel = 1
	url = https://github.com/peak3d/inputstream.adaptive
	arch = x86_64
	arch = aarch64
	groups = kodi-addons
	groups = kodi-addons-inputstream
	license = GPL2
	makedepends = cmake
	makedepends = kodi-dev
	source = kodi-addon-inputstream-adaptive-2.6.7.tar.gz::https://github.com/peak3d/inputstream.adaptive/archive/2.6.7-Matrix.tar.gz
	sha512sums = 60c1f051d50fef21697e6f1e1570bebbaaf3b8f5d4fd207bfdfbd553f1eafb26305af1138c224b2ddfb4ea9c88931991cf46fcbde39b35992ea93884705760c8

pkgname = kodi-addon-inputstream-adaptive
	depends = kodi
	depends = kodi-platform

