pkgbase = srb2kart
	pkgdesc = A kart racing mod based on the 3D Sonic the Hedgehog fangame Sonic Robo Blast 2, based on a modified version of Doom Legacy.
	pkgver = 1.3
	pkgrel = 1
	url = https://mb.srb2.org/showthread.php?t=43708
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL2
	makedepends = sdl2
	makedepends = sdl2_mixer
	makedepends = libpng
	makedepends = libgme
	makedepends = mesa
	makedepends = glu
	makedepends = git
	depends = sdl2
	depends = sdl2_mixer
	depends = libpng
	depends = libgme
	conflicts = srb2kart-data
	options = !buildflags
	source = git+https://github.com/STJr/Kart-Public.git#tag=v1.3
	source = https://github.com/STJr/Kart-Public/releases/download/v1.3/srb2kart-v13-Installer.exe
	source = srb2kart.desktop
	source = srb2kart-opengl.desktop
	md5sums = SKIP
	md5sums = d73b7c297a0626d6101b54fe684c78b7
	md5sums = aedc2ad6142db8de5cfc94b826b5fd4a
	md5sums = e5735e888d18ef7f644b1a2421ea1511
	makedepends_i686 = nasm

pkgname = srb2kart

