pkgbase = xonotic-data
	pkgdesc = A free, fast-paced crossplatform first-person shooter (data files)
	pkgver = 0.8.5
	pkgrel = 1
	url = http://xonotic.org
	arch = any
	license = GPL
	makedepends = unzip
	depends = bash
	depends = perl
	source = https://dl.xonotic.org/xonotic-0.8.5.zip
	sha512sums = 4ffc4b73eeb5f580d178a98419d5b44cbff0c56e356a62baa729b5b7a6c3d43b2b425b123428c9b1bf3f4718eaf61bcf5d62914521cc061c7563a253440c807e

pkgname = xonotic-data
