pkgbase = srb2
	pkgdesc = A 3D Sonic fan game based off of Doom Legacy (aka "Sonic Robo Blast 2")
	pkgver = 2.2.10
	pkgrel = 1
	url = http://www.srb2.org
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = mesa
	makedepends = glu
	depends = sdl2_mixer
	depends = libpng
	depends = libgme
	depends = libopenmpt
	conflicts = srb2-data
	source = https://github.com/STJr/SRB2/archive/SRB2_release_2.2.10.zip
	source = https://github.com/STJr/SRB2/releases/download/SRB2_release_2.2.10/SRB2-v2210-Full.zip
	source = srb2.desktop
	source = srb2-opengl.desktop
	md5sums = cb4fd06ddfcacaab0eafa5e2037060f8
	md5sums = 92c68194d6e48eb7314d60f0318309b9
	md5sums = 41040e7cb9fbe4c9cc6b5a63aaa1ab34
	md5sums = 54abffc62f661197d81091c6ead95563
	makedepends_i686 = nasm

pkgname = srb2
