pkgbase = srb2
	pkgdesc = A 3D Sonic fan game based off of Doom Legacy (aka "Sonic Robo Blast 2")
	pkgver = 2.2.8
	pkgrel = 1
	url = http://www.srb2.org
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = mesa
	makedepends = glu
	depends = sdl2_mixer
	depends = libpng
	depends = libgme
	depends = libopenmpt
	conflicts = srb2-data
	source = https://github.com/STJr/SRB2/archive/SRB2_release_2.2.8.zip
	source = https://github.com/STJr/SRB2/releases/download/SRB2_release_2.2.7/SRB2-2.2.7-Full.zip
	source = https://github.com/STJr/SRB2/releases/download/SRB2_release_2.2.8/SRB2-v2.2.8-Patch.zip
	source = srb2.desktop
	source = srb2-opengl.desktop
	md5sums = ec7fff5c700230f4141c82a52d1450c2
	md5sums = d167d121a2a7f008e78f6b135f608869
	md5sums = 69521c43dd32afff2dafe718fd098218
	md5sums = 41040e7cb9fbe4c9cc6b5a63aaa1ab34
	md5sums = 54abffc62f661197d81091c6ead95563
	makedepends_i686 = nasm

pkgname = srb2

